[Unit]
Description=Advanced key-value store
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/redis-server /etc/redis.conf
ExecStop=/usr/bin/redis-cli shutdown
LimitNOFILE=10032

[Install]
WantedBy=multi-user.target
